@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*top navigation*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: 'arial';
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('./bg1.jpeg') no-repeat top center / cover;

    overflow: hidden;
}


.fab1{
    width: 140px;
    height: 25px;
    background-color: #BBDEFB;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    transform: translateX(-12px) translateY(-10px);
  }


.brand{
    transform: translateX(10px);
    font-size: 30px;
    color: #FFF;
}

.nav-wrapper{
    background-color: #008BFF;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    font-size: 20px;
    position: fixed;
    width: 100%;
    height: 60px;
    max-width: 100%;
    margin: 0 auto;
}

.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-wrapper ul.nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
}

.nav-wrapper ul.nav-list li a {
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a {
    color: #0D47A1;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(20px); 
    }
}

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span {
    background: #0D47A1;
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list {
    background-color: #008BFF;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .1s ease-in-out;
}

.hamburger, .brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;  
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .1s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

/*top navigation close here*/

/*Scroll-Bar1*/
  /* width */
::-webkit-scrollbar {
    width: 15px;
    background-color: #FFF;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 50px;
    border-color: #FFF;
    border-style: solid;
    width: 10px;
  }
 /* Handle */
::-webkit-scrollbar-thumb {
    background: #FFF;
    width: 10px;
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0D47A1;
  }
  /* width */
::-webkit-scrollbar {
    width: 15px;
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #008BFF;
    border-radius: 50px;
    border-color: #FFF;
    border-style: solid;
  }

/*close-Scroll-Bar1*/


/*Scroll-Bar-button*/

/* width */
::-webkit-scrollbar-button {
    width: 15px;
    height: 25px;
    background-color: #008BFF;
    border-radius: 10px;
    border-color: #FFF;
    border-style: solid;
  }
::-webkit-scrollbar-button:hover{
    background-color: #008BFF;
    border-color: #FFF;
}
/*close-Scroll-Bar-button*/

/*content*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.dropdown{
    background-color: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(0px) translateX(-10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: none;
    color: #0D47A1;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    color: #0D47A1;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid none;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #FFF;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(0px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #efefef;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #FFF;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #FFF;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #FFF;
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #FFF;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: #FFF;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: #FFF;
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: #FFF;
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #FFF;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}







.dropdown.mobile{
    background-color: none;
    position: absolute;
    top: 100%;
    color: #FFF;
    left: 0;
    width: 10rem;
    transform: translateY(0px) translateX(-10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul.mobile{
    position: relative;
}

.dropdown-link > a.mobile{
    display: flex;
    background-color: none;
    color: #FFF;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a.mobile{
    color: #FFF;
}

.dropdown-link:not(:nth-last-child(2)).mobile{
    border-bottom: 1px solid none;
}

.dropdown-link i.mobile{
    transform: rotate(-90deg);
}

.arrow.mobile{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow.mobile{
    background-color: #FFF;
}

.dropdown-link.mobile{
    position: relative;
}

.dropdown.second.mobile{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(0px);
}

.dropdown.second .arrow.mobile{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,.mobile
.dropdown-link:hover > .dropdown.mobile{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container.mobile{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu.mobile{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div.mobile{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #efefef;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,.mobile
.hamburger-menu div:after.mobile{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before.mobile{
    transform: translateY(-7px);
}

.hamburger-menu div:after.mobile{
    transform: translateY(7px);
}

#check.mobile{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div.mobile{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before.mobile{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after.mobile{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container.mobile{
        display: flex;
    }

    #check.mobile{
        display: block;
    }

    .nav-btn.mobile{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #FFF;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn.mobile{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,.mobile
    #check:checked ~ .nav-btn .log-sign.mobile{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links.mobile{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul.mobile{
        flex-direction: column;
    }

    .nav-link.mobile{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a.mobile{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a.mobile{
        transform: scale(1);
        background-color: #FFF;
    }

    .dropdown, .dropdown.second.mobile{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: none;
        display: none;
    }
    
    .nav-link:hover > .dropdown,.mobile
    .dropdown-link:hover > .dropdown.mobile{
        display: block;
    }

    .nav-link:hover > a > i,.mobile
    .dropdown-link:hover > a > i.mobile{
        transform: rotate(360deg);
    }

    .dropdown-link > a.mobile{
        background-color: transparent;
        color: #FFF;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a.mobile{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a.mobile{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)).mobile{
        border-bottom: none;
    }

    .arrow.mobile{
        z-index: 1;
        background-color: #FFF;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow.mobile{
        background-color: none;
    }

    .dropdown .dropdown .arrow.mobile{
        display: none;
    }

    .dropdown-link:hover > a.mobile{
        background-color: none;
    }

    .dropdown-link:first-child:hover ~ .arrow.mobile{
        background-color: #FFF;
    }

    .nav-link > a > i.mobile{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i.mobile{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign.mobile{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}

/*content*/

#left-container
{
 transform: translateX(-5px) translateY(60px);
 width:50%;
 height:10%;
 background:#0D47A1;


}

#right-container
{
 transform: translateX(780px) translateY(-10px);
 width:50%;
 height:10%;
 background:#0D47A1;
}